{% extends 'form.html.twig' %}

{% block illustration %}
    <div class="container">
        <span class="copyright">flickr.com/photos/naotakem/120643390 Naotake Murayama CC BY 2.0 Deed</span>
        <img src="/wintermute.jpg" style="max-width: 400px; width: 40vw">
    </div>
{% endblock %}
