{% extends 'form.html.twig' %}

{% block illustration %}
    <div class="container">
        <span class="copyright">flickr.com/photos/phrenologist/3248154361 Phil Hollenback CC BY-NC 2.0 Deed</span>
        <img src="/neuromancer.jpg" style="max-width: 400px; width: 40vw">
    </div>
{% endblock %}
